html, body, .main-container
  height: 100%;
  margin: 0 auto;
  .main-header
    height: 8%;
    position:absolute;
    top:0;
    width:100%;
  .main-content
    position:absolute;
    overflow: auto;
    top:8%;
    bottom:8%;
    width:100%;
    padding-bottom: 20px;
  .main-footer
    height: 8%
    position:absolute;
    bottom:0;
    width: 100%;

a
  text-decoration: none;

